# learning-python/.gitignore

# VIM swapfile
.*.swp

# See https://github.com/github/gitignore/blob/master/Python.gitignore

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter checkpoinits
.ipynb_checkpoints/

.lpenv/

# EOF
